<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Company</th>
      <th>Application ID</th>
      <th>Role</th>
      <th>Term</th>
      <th>Date Applied</th>
      <th>Status</th>
      <th>First Interview?</th>
      <th>Second Interview</th>
      <th>Extra Interviews</th>
      <th>Offer</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Microsoft</td>
      <td>1389114</td>
      <td>SWE Intern</td>
      <td>BLANK</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>1</th>
      <td></td>
      <td>123</td>
      <td></td>
      <td></td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
  </tbody>
</table>